@import "tailwindcss";

@font-face {
    font-family: 'Fredoka';
    src: url('/Fredoka.ttf') format('truetype');
}

body {
    text-size-adjust: none;
    font-family: 'Fredoka', sans-serif, Tahoma, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

@theme {
    --color-ipuzzle: #D65F92;
    --color-puzzle: #074;
    --color-darkpuzzle: #074;
    --color-white2: #eefffc;

    --color-puzzle-50: #e0f2e9;
    --color-puzzle-100: #b3e0c9;
    --color-puzzle-200: #80cda6;
    --color-puzzle-300: #4dbb83;
    --color-puzzle-400: #26a86a;
    --color-puzzle-500: #296;
    --color-puzzle-600: #23815a;
    --color-puzzle-700: #1d6a4a;
}